In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Import data
wine_data_df = pd.read_csv("Data/dashboard_wine_data.csv")  
print(wine_data_df.shape)

(40345, 12)

In [3]:
wine_data_df.head(2)

,province,region,Latitude,Longitude,winery,variety,type,title,points,price,price_bins,description
0,Oregon,Willamette Valley,44.942554,-122.933762,Rainstorm,Pinot Gris,White,Rainstorm 2013 Pinot Gris (Willamette Valley),87,14,<$15,"Tart and snappy, the flavors of lime flesh and..."
1,Oregon,Willamette Valley,44.942554,-122.933762,Sweet Cheeks,Pinot Noir,Red,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,87,65,$60-100,"Much like the regular bottling from 2012, this..."

In [4]:
#dropping description, not needed for Tableau data

wine_data_df = wine_data_df.drop(columns=["description"], axis=1)

print(wine_data_df.shape)
# wine_data_df.head()

(40345, 11)

In [5]:
tableau_df = wine_data_df

### Dropping rows to pare down size

In [6]:
tableau_df.drop(tableau_df.loc[tableau_df['province']=="New York"].index, inplace=True)
tableau_df.shape

(38410, 11)

In [7]:
tableau_df.drop(tableau_df.loc[tableau_df['province']=="Virginia"].index, inplace=True)
tableau_df.shape

(37981, 11)

In [8]:
tableau_df.drop(tableau_df.loc[tableau_df['price_bins']=="<$15"].index, inplace=True)
tableau_df.shape

(32948, 11)

In [9]:
tableau_df.drop(tableau_df.loc[tableau_df['price_bins']=="too much"].index, inplace=True)
tableau_df.shape

(32944, 11)

In [10]:
tableau_df.drop(tableau_df.loc[tableau_df['price_bins']=="100-500"].index, inplace=True)
tableau_df.shape

(32293, 11)

In [11]:
tableau_df = tableau_df.rename(columns={'province': 'state'})

In [12]:
tableau_df.head()

,state,region,Latitude,Longitude,winery,variety,type,title,points,price,price_bins
1,Oregon,Willamette Valley,44.942554,-122.933762,Sweet Cheeks,Pinot Noir,Red,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,87,65,$60-100
2,California,Napa Valley,38.502469,-122.265389,Kirkland Signature,Cabernet Sauvignon,Red,Kirkland Signature 2011 Mountain Cuv√©e Caberne...,87,19,$15-30
3,California,Alexander Valley,38.612965,-122.769435,Louis M. Martini,Cabernet Sauvignon,Red,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,87,34,$30-60
6,Oregon,Oregon,43.804133,-120.554201,Acrobat,Pinot Noir,Red,Acrobat 2013 Pinot Noir (Oregon),87,20,$15-30
7,California,Paso Robles,35.636876,-120.654502,Bianchi,Merlot,Red,Bianchi 2011 Signature Selection Merlot (Paso ...,87,22,$15-30

In [13]:
# Save new dataframe
tableau_df.to_csv("Data/tableau_data.csv", index=False)