# Wine_data_json

In [1]:
# Import dependencies
import pandas as pd
import json

In [2]:
# Import cleaned US data reduced by regions and varieties w <= 300 value counts
dashboard_wine_data_df = pd.read_csv("Data/US_Wine_PriceBins.csv")
print(dashboard_wine_data_df.shape)
dashboard_wine_data_df.head()

(35430, 12)

,province,region,Latitude,Longitude,winery,variety,type,title,points,price,price_bins,description
0,Oregon,Willamette Valley,44.942554,-122.933762,Rainstorm,Pinot Gris,White,Rainstorm 2013 Pinot Gris,87,14.0,<$15,"Tart and snappy, the flavors of lime flesh and..."
1,Oregon,Willamette Valley,44.942554,-122.933762,Sweet Cheeks,Pinot Noir,Red,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,87,65.0,$60-100,"Much like the regular bottling from 2012, this..."
2,California,Napa Valley,38.502469,-122.265389,Kirkland Signature,Cabernet Sauvignon,Red,Kirkland Signature 2011 Mountain Cuvee Caberne...,87,19.0,$15-30,"Soft, supple plum envelopes an oaky structure ..."
3,California,Alexander Valley,38.612965,-122.769435,Louis M. Martini,Cabernet Sauvignon,Red,Louis M. Martini 2012 Cabernet Sauvignon,87,34.0,$30-60,"Slightly reduced, this wine offers a chalky, t..."
4,California,Central Coast,40.783448,-124.140008,Mirassou,Chardonnay,White,Mirassou 2012 Chardonnay,87,12.0,<$15,Building on 150 years and six generations of w...

In [3]:
# For "wine picker" drop columns
dashboard_wine_data_df = dashboard_wine_data_df.drop(["Latitude", "Longitude", "price_bins"], axis=1)
print(dashboard_wine_data_df.shape)
dashboard_wine_data_df.head(1)

(35430, 9)

,province,region,winery,variety,type,title,points,price,description
0,Oregon,Willamette Valley,Rainstorm,Pinot Gris,White,Rainstorm 2013 Pinot Gris,87,14.0,"Tart and snappy, the flavors of lime flesh and..."

## Create json file

In [4]:
# Export Pandas DataFrame to JSON File
# https://datatofish.com/export-pandas-dataframe-json/
dashboard_wine_data_df.to_json(r'static\json\data.json', orient='records')