# Wine_cleaning

In [1]:
# Import dependencies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
# Import data
wine_data_df = pd.read_csv("Data/winemag-data-130k-v2.csv")  
print(wine_data_df.shape)
wine_data_df.head()

(129971, 14)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## Select and keep only US data

In [3]:
# Only keep rows where country = US
US_wine_data_df = wine_data_df.loc[wine_data_df["country"] == "US"]
print(US_wine_data_df.shape)
US_wine_data_df.head()

(54504, 14)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
10,10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
12,12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini

In [4]:
# Drop columns that are not useful: Unnamed: 0, country, taster_name, taster_twitter_handle
US_wine_data_df = US_wine_data_df.drop(columns=["Unnamed: 0", "country","taster_name", "taster_twitter_handle"], axis=1)
print(US_wine_data_df.shape)
US_wine_data_df.head()

(54504, 10)

,description,designation,points,price,province,region_1,region_2,title,variety,winery
2,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
10,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
12,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini

## Evaluate data and clean

In [5]:
# Look at info.
US_wine_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54504 entries, 2 to 129967
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  54504 non-null  object
 1   designation  36908 non-null  object
 2   points       54504 non-null  int64
 3   price        54265 non-null  float64
 4   province     54504 non-null  object
 5   region_1     54226 non-null  object
 6   region_2     50511 non-null  object
 7   title        54504 non-null  object
 8   variety      54504 non-null  object
 9   winery       54504 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 4.6+ MB

In [6]:
# Drop additional column that is not going to be useful: 
# "designation", which is the vineyard where grapes are from.  17,596 null -> 32% null values
# Doesn't seem likely that we'll need this information later.
US_wine_data_df = US_wine_data_df.drop(columns=["designation"], axis=1)
print(US_wine_data_df.shape)
US_wine_data_df.head()

(54504, 9)

,description,points,price,province,region_1,region_2,title,variety,winery
2,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,Michigan,Lake Michigan Shore,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
10,"Soft, supple plum envelopes an oaky structure ...",87,19.0,California,Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
12,"Slightly reduced, this wine offers a chalky, t...",87,34.0,California,Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini

In [7]:
# Make a copy of the dataframe
US_wine_data_df_copy = US_wine_data_df
US_wine_data_df_copy.shape

(54504, 9)

In [8]:
# Replace NaN in region_1 with corresponding value from same row in province
# https://stackoverflow.com/questions/49019230/replace-nan-in-one-column-with-the-value-from-another-column-in-pandas-whats-w
US_wine_data_df_copy['region_1'] = US_wine_data_df.apply(lambda row: row['province'] if pd.isnull(row['region_1']) else row['region_1'], axis=1)

In [9]:
# Determine value_counts
province_counts = US_wine_data_df_copy.province.value_counts()
province_counts

California           36247
Washington            8639
Oregon                5373
New York              2688
Virginia               777
Idaho                  192
Michigan               114
America                 95
Texas                   94
Colorado                68
New Mexico              45
Arizona                 41
Missouri                33
North Carolina          23
Pennsylvania            18
Ohio                    12
New Jersey               8
Washington-Oregon        7
Massachusetts            7
Illinois                 6
Nevada                   4
Iowa                     4
Vermont                  3
Connecticut              3
Kentucky                 1
Rhode Island             1
Hawaii                   1
Name: province, dtype: int64

In [10]:
# Determine value_counts for binning
region_1_counts = US_wine_data_df_copy.region_1.value_counts()
region_1_counts

Napa Valley                       4480
Columbia Valley (WA)              4124
Russian River Valley              3091
California                        2631
Paso Robles                       2350
                                  ...
Tehama County                        1
Mendocino-Amador                     1
Sonoma-Santa Barbara-Mendocino       1
Napa-Sonoma-Marin                    1
Sonoma-Napa-Mendocino                1
Name: region_1, Length: 266, dtype: int64

In [11]:
# Replace NaN in region_2 with corresponding value from same row in region_1
# https://stackoverflow.com/questions/49019230/replace-nan-in-one-column-with-the-value-from-another-column-in-pandas-whats-w
US_wine_data_df_copy['region_2'] = US_wine_data_df.apply(lambda row: row['region_1'] if pd.isnull(row['region_2']) else row['region_2'], axis=1)
US_wine_data_df_copy.head()

,description,points,price,province,region_1,region_2,title,variety,winery
2,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,Michigan,Lake Michigan Shore,Lake Michigan Shore,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
10,"Soft, supple plum envelopes an oaky structure ...",87,19.0,California,Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
12,"Slightly reduced, this wine offers a chalky, t...",87,34.0,California,Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini

In [12]:
# Determine value_counts
region_2_counts = US_wine_data_df_copy.region_2.value_counts()
region_2_counts

Central Coast              11097
Sonoma                      9029
Columbia Valley             8105
Napa                        6816
Willamette Valley           3725
                           ...
Napa-Monterey-Mendocino        1
Isle St. George                1
Kentucky                       1
Ohio                           1
Massachusetts                  1
Name: region_2, Length: 78, dtype: int64

In [13]:
# Look at dataframe info again.
US_wine_data_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54504 entries, 2 to 129967
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  54504 non-null  object
 1   points       54504 non-null  int64
 2   price        54265 non-null  float64
 3   province     54504 non-null  object
 4   region_1     54504 non-null  object
 5   region_2     54504 non-null  object
 6   title        54504 non-null  object
 7   variety      54504 non-null  object
 8   winery       54504 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 4.2+ MB

In [14]:
# Drop rows with NaN.  Max rows US =54504
# "price" only has 54226 rows.  It will only reduce data by 1/2%
US_wine_data_df_copy = US_wine_data_df_copy.dropna()
print(US_wine_data_df_copy.shape)
US_wine_data_df_copy.head()

(54265, 9)

,description,points,price,province,region_1,region_2,title,variety,winery
2,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Oregon,Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,Michigan,Lake Michigan Shore,Lake Michigan Shore,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
10,"Soft, supple plum envelopes an oaky structure ...",87,19.0,California,Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature
12,"Slightly reduced, this wine offers a chalky, t...",87,34.0,California,Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini

In [15]:
# Create a DataFrame to hold columns that won't be used in machine learning in case we want them later
US_wine_data_title_df = US_wine_data_df_copy.drop(columns=["points", "price", "province", "variety", "winery"], axis=1)
print(US_wine_data_title_df.shape)
US_wine_data_title_df.head()

(54265, 4)

,description,region_1,region_2,title
2,"Tart and snappy, the flavors of lime flesh and...",Willamette Valley,Willamette Valley,Rainstorm 2013 Pinot Gris (Willamette Valley)
3,"Pineapple rind, lemon pith and orange blossom ...",Lake Michigan Shore,Lake Michigan Shore,St. Julian 2013 Reserve Late Harvest Riesling ...
4,"Much like the regular bottling from 2012, this...",Willamette Valley,Willamette Valley,Sweet Cheeks 2012 Vintner's Reserve Wild Child...
10,"Soft, supple plum envelopes an oaky structure ...",Napa Valley,Napa,Kirkland Signature 2011 Mountain Cuvée Caberne...
12,"Slightly reduced, this wine offers a chalky, t...",Alexander Valley,Sonoma,Louis M. Martini 2012 Cabernet Sauvignon (Alex...

In [16]:
# Drop additional columns that we may want back later: "description" - of flavors, i.e. tart and snappy, oaky, etc.
# "title" - name on the bottle; region_1, region_2

US_wine_data_df_ml = US_wine_data_df_copy.drop(columns=["description", "region_1", "region_2", "title"], axis=1)
print(US_wine_data_df_ml.shape)
US_wine_data_df_ml.head()

(54265, 5)

    points  price    province             variety              winery
2       87   14.0      Oregon          Pinot Gris           Rainstorm
3       87   13.0    Michigan            Riesling          St. Julian
4       87   65.0      Oregon          Pinot Noir        Sweet Cheeks
10      87   19.0  California  Cabernet Sauvignon  Kirkland Signature
12      87   34.0  California  Cabernet Sauvignon    Louis M. Martini

In [17]:
# Save cleaned dataframes
# All US data after drop Na
US_wine_data_df_copy.to_csv("Data/US_wine_data.csv", index=False)

# Save columns to add back in later ("description", "title", "region_1", "region_2")
US_wine_data_title_df.to_csv("Data/US_wine_data_title.csv", index=False)

# Save columns for machine learning ("points","price","province","variety","winery")
US_wine_data_df_ml.to_csv("Data/US_wine_data_ml.csv", index=False)

## Starting point for machine learning preprocessing

In [ ]:
# Import data
US_wine_data_df_ml = pd.read_csv("Data/US_wine_data_ml.csv")

In [18]:
US_wine_data_df_ml.nunique()

points        21
price        160
province      27
variety      257
winery      5368
dtype: int64

In [ ]:
# Determine value_counts for binning
variety_counts = US_wine_data_df_ml.variety.value_counts()
variety_counts

In [ ]:
# Visualize the value counts of region_1
variety_counts.plot.density()

In [ ]:
# Determine which values to replace if counts are less than ? (19.3.3)
replace_variety = list(variety_counts[variety_counts <= 300].index)

# Replace in dataframe
for variety in replace_variety:
    US_wine_data_df_ml.variety = US_wine_data_df_ml.variety.replace(variety,"Other")
    
# Check to make sure binning was successful
US_wine_data_df_ml.variety.value_counts()

In [ ]:
# Determine value_counts for binning
province_counts = US_wine_data_df_ml.province.value_counts()
province_counts

In [ ]:
# Visualize the value counts of region_1
province_counts.plot.density()

In [ ]:
# Determine which values to replace if counts are less than ? (19.3.3)
replace_province = list(province_counts[province_counts <= 50].index)

# Replace in dataframe
for province in replace_province:
    US_wine_data_df_ml.province = US_wine_data_df_ml.province.replace(province,"Other")
    
# Check to make sure binning was successful
US_wine_data_df_ml.province.value_counts()

In [ ]:
# Determine value_counts for binning
winery_counts = US_wine_data_df_ml.winery.value_counts()
winery_counts

In [ ]:
# Visualize the value counts of region_1
winery_counts.plot.density()

In [ ]:
# Determine which values to replace if counts are less than ? (19.3.3)
replace_winery = list(winery_counts[winery_counts <= 20].index)

# Replace in dataframe
for winery in replace_winery:
    US_wine_data_df_ml.winery = US_wine_data_df_ml.winery.replace(winery,"Other")
    
# Check to make sure binning was successful
US_wine_data_df_ml.winery.value_counts()

### OneHotEncoder

In [ ]:
# Import dependencies
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [ ]:
# Generate our categorical variable lists
# wine_cat = US_wine_data_df_ml.dtypes[US_wine_data_df_ml.dtypes == "object"].index.tolist()

In [ ]:
wine_cat = ["variety", "winery"]

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(US_wine_data_df_ml[wine_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(wine_cat)
encode_df.head()

In [ ]:
encode_df.shape

In [ ]:
# Merge one-hot encoded features and drop the originals
US_wine_data_df_ml = US_wine_data_df_ml.merge(encode_df,left_index=True, right_index=True)
US_wine_data_df_ml = US_wine_data_df_ml.drop(wine_cat,axis=1)
print(US_wine_data_df_ml.shape)
US_wine_data_df_ml.head()

In [ ]:
# Convert categorical data to numerical a number for 
# from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
# Province dictionary
province_num = {California: 1,
                Washington: 2,
                Oregon: 3,
                New York: 4,
                Virginia: 5,
                Idaho: 6,
                Michigan: 7,
                America: 8,
                Texas: 9,
                Colorado: 10,
                New Mexico: 11,
                Arizona: 12,
                Missouri: 13,
                North Carolina: 14,
                Pennsylvania: 15,
                Ohio: 16,
                New Jersey: 17,
                Washington-Oregon: 18,
                Massachusetts: 19,
                Illinois: 20,
                Iowa: 21,
                Nevada: 22,
                Connecticut: 23,
                Vermont: 24,
                Rhode Island: 25,
                Kentucky: 26,
                Hawaii: 27
}

In [ ]:
# "province" names encoded using the province_num dictionary values
US_wine_data_df_ml["province_num"] = US_wine_data_df_ml["province"]].apply(lambda x: province_num[x])
US_wine_data_df_ml.head()

In [ ]:
# Save preprocessed dataframe to csv for future reference.
US_wine_data_df_ml.to_csv("Data/US_wine_data_enc.csv", index=False)

In [ ]:
# Split our preprocessed data into our features and target arrays
#  Target
y = US_wine_data_df_ml["province"].values
# Features
X = US_wine_data_df_ml(["province"],axis=1).values

In [ ]:
import json
# convert dataframe to JSON string
US_wine_data_json = US_wine_data_df.to_json(orient="split", indent=4, index=False)
US_wine_data_json